<%= render 'shared/errors' %> <%# definig what obj would be in partial if its rednered from for partial new/edit%>

<%# this helps with form building%>
<%= form_with(model: @jab, local: true) do |f| %>
    <% @jab%>
    <p> 
        <%= f.label :title %><br/> 
        <%= f.text_field :title %>
    </p>
    <p>
        <%= f.label :description %><br/> 
        <%= f.text_area :description %> 
    </p>
  <p>
    <%= f.submit %> 
  </p>
      <%= link_to '[ Cancel and return to articles listing ]', jabs_path, class: "text-info" %>
<% end %>