<div><h6 class="text-center mt-4">Jabs listing page <h6></div>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @jabs.each do |jab| %>
   <div><%= jab.user.username if jab.user%></div>
      <tr>
        <td><%= jab.title %></td>
        <td><%= jab.description %></td>
        <td><%= link_to 'View', jab_path(jab) %></td>
        <td><%= link_to 'Edit', jab_path(jab) %></td>
        <td><%= link_to 'Delete', jab_path(jab), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> 
<p>
    <%= link_to 'Throw new jab', new_jab_path %>
</p>