<h1> Jabs <h1>

<p><strong>Title: </strong><%= @jab.title %></p>
<p><strong>Description: </strong><%= @jab.description %></p>

<%= link_to 'Edit', edit_jab_path(@jab) %> |
<%= link_to 'Delete', jab_path(@jab), method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Return to jab listing', jabs_path %>