<%= render 'shared/errors', obj: @user %>

<%= form_with(model: @user, local: true)  do |f| %>

    <p>
    <%# text_field gives a 1 line box%>
        <%= f.label :username %><br/>
        <%= f.text_field :username %>
    </p>

    <p> 
        <%= f.label :email %><br/>
    <%# text_area give an expandable box%>
        <%= f.email_field :email %>
    </p>

    <p>
    <%= f.label :password %><br/>
    <%# text_area give an expandable box%>
        <%= f.password_field :password %>
    </p>

    <p>
    <%# creates a submit button%>
    <%# code below allowed the record being created isa new %>
        <%= f.submit(@user.new_record? ? "Sign up" : "Update account") %>
    </p>

<%= link_to '[ Cancel and return to jabs listing ]', jabs_path, class: "text-info" %>
<% end %>